body {
    font-family: cursive, Georgia, serif;}

body {
    background-image: url(https://www.readfootball.com/sites/default/files/news-img/i2j7mb.jpg)
}

H1{text-align: center }

body {
    font-weight: bolder
}

